In [1]:
# ref: https://www.kaggle.com/code/gazu468/movie-recommendation-system-with-basic-concept#Feature-Extraction-
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movies=pd.read_csv("./data/titles.csv")

In [3]:
movies

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

## process and clean data

In [4]:
movies=movies[['id','title','genres','description', "imdb_id","imdb_score","imdb_votes","tmdb_popularity","tmdb_score"]]

In [5]:
movies.isnull().sum()

id                   0
title                1
genres               0
description         18
imdb_id            444
imdb_score         523
imdb_votes         539
tmdb_popularity     94
tmdb_score         318
dtype: int64

In [6]:
movies.dropna(inplace=True)

/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [7]:
movies.isnull().sum()

id                 0
title              0
genres             0
description        0
imdb_id            0
imdb_score         0
imdb_votes         0
tmdb_popularity    0
tmdb_score         0
dtype: int64

In [8]:
movies.duplicated().sum()

0

In [9]:
import ast

In [10]:
# genre: convert string representation of list to actual list
def convert(s):
    l = ast.literal_eval(s)
    l = [n.strip() for n in l]
    return l
movies['genres'] = movies['genres'].apply(convert)

/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/3560235739.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert)

In [11]:
# description: convert string to list of words
movies['description']=movies['description'].apply(lambda x: x.split())

/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/147446734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['description']=movies['description'].apply(lambda x: x.split())

In [12]:
# remove space
movies['genres']=movies['genres'].apply(lambda x : [i.replace(" ","")for i in x])
movies['description']=movies['description'].apply(lambda x : [i.replace(" ","")for i in x])

/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/203317186.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(lambda x : [i.replace(" ","")for i in x])
/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/203317186.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['description']=movies['description'].apply(lambda x : [i.replace(" ","")for i in x])

In [13]:
movies.head()

,id,title,genres,description,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,"[crime, drama]","[A, mentally, unstable, Vietnam, War, veteran,...",tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,"[comedy, fantasy]","[King, Arthur,, accompanied, by, his, squire,,...",tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,[comedy],"[Brian, Cohen, is, an, average, young, Jewish,...",tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,[horror],"[12-year-old, Regan, MacNeil, begins, to, adap...",tt0070047,8.1,391942.0,95.337,7.7
5,ts22164,Monty Python's Flying Circus,"[comedy, european]","[A, British, sketch, comedy, series, with, the...",tt0063929,8.8,72895.0,12.919,8.3

In [14]:
movies['tags']= movies['genres'] + movies['description']

/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/4216813577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']= movies['genres'] + movies['description']

In [15]:
partial_df = movies[["id", "title", "tags"]]

In [16]:
partial_df['tags']=partial_df['tags'].apply(lambda x: " ".join(x))
partial_df['tags']=partial_df['tags'].apply(lambda x: x.lower())

/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/1075739565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_df['tags']=partial_df['tags'].apply(lambda x: " ".join(x))
/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/1075739565.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_df['tags']=partial_df['tags'].apply(lambda x: x.lower())

## recommend movies

In [17]:
import nltk
from nltk.stem import PorterStemmer,WordNetLemmatizer

In [18]:
nltk.download('wordnet')
nltk.download('omw-1.4')
ps=PorterStemmer()
wnl = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /Users/XR/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/XR/nltk_data...

In [19]:
def steam(text):
    y=[]
    for i in text.split():
        y.append (ps.stem(i))
    return " ".join(y)

def lemmi(text):
    y=[]
    for i in text.split():
        y.append (wnl.lemmatize(i))
    return " ".join(y)

In [20]:
#lemmitization
partial_df['tags']=partial_df['tags'].apply(lemmi)
#porter_steammer
partial_df['tags']=partial_df['tags'].apply(steam)

/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/3401374299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_df['tags']=partial_df['tags'].apply(lemmi)
/var/folders/zf/r7d7hnsn7738wkdh4qgs_lxr0000gn/T/ipykernel_79570/3401374299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_df['tags']=partial_df['tags'].apply(steam)

### extract feature

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [57]:
tfidf=TfidfVectorizer(max_features=5000,analyzer='word',stop_words="english")
tfdf_features=tfidf.fit_transform(partial_df['tags'])

In [93]:
# recommend

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [87]:
'''
recommend movie based on input string. This function uses 
tfidf with genre and descriptions of movies in the dataset
as ranking function
@param ipt_str: input string
@return: a list of recommended movie
'''
def recommend_movie(ipt_str):
    tfidf_ipt = tfidf.transform([ipt_str])
    tfdf_similarity=cosine_similarity(tfdf_features, tfidf_ipt)
    print(tfdf_similarity)
    movies_list=sorted(list(enumerate(tfdf_similarity)), reverse=True, key=lambda x : x[1])[1:6]
    for i in movies_list:
        print(partial_df.iloc[i[0]].title)

In [98]:
print(partial_df[partial_df['title']=="Beyond Stranger Things"]["tags"].item())

document secret from the "stranger thing 2" univers are reveal a cast and guest discu the latest episod with host jim rash. caution: spoiler ahead!

In [97]:
recommend_movie("stranger thing")

[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]
Beyond Stranger Things
Can You Keep a Secret?
Pee-wee's Big Holiday
XOXO
Rattlesnake